**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
**/.git/
**/.gitignore
**/*.user
**/*.suo
**/Dockerfile*
**/docker-compose*.yml
**/.dockerignore
**/.env*
**/secrets.json
**/Logs/
**/logs/
**/*.log
README.md
LICENSE
